<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="IndiMart - Your one-stop-shop for all things Indian. Find a wide selection of authentic Indian products, including clothing, jewelry, home decor, and more. Enjoy fast and reliable shipping, competitive prices, and exceptional customer service. Shop now and experience the best of India at IndiMart.">
    <meta name="keywords" content="indiMart, unica, creative, html">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{message}}</title>
    <link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.15.1/css/pro.min.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!-- component -->
    <div
        class="min-h-screen flex flex-col items-center justify-center bg-[url('https://images.unsplash.com/photo-1554034483-04fda0d3507b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')] bg-cover px-10">
        <div class="flex flex-col bg-white shadow-md px-4 sm:px-6 md:px-8 lg:px-10 py-8 rounded-md w-full max-w-md">
            <div class="font-medium self-center text-xl sm:text-2xl uppercase text-gray-800">{{message}}</div>
        </div>
    </div>
    <script>
        setTimeout(() => {
            open('/login', '_self');
        }, 5000)
    </script>
</body>

</html>