<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description"
        content="IndiMart - Your one-stop-shop for all things Indian. Find a wide selection of authentic Indian products, including clothing, jewelry, home decor, and more. Enjoy fast and reliable shipping, competitive prices, and exceptional customer service. Shop now and experience the best of India at IndiMart.">
    <meta name="keywords" content="indiMart, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <title>Shopping Cart</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-body-tertiary bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a href="/" class="navbar-brand fs-1 fw-bold">indi<span class="text-danger">Mart</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link fs-5" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-tertiary" href="/shop">Shop</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fs-5 text-tertiary" href="/contacts">Contacts</a>
                    </li>
                    <li class="nav-item active dropdown fs-5">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            {{iname}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item text-black" href="/user">My Profile</a></li>
                            <li><a class="dropdown-item text-black" href="/orders">My Orders</a></li>
                            <li><a class="dropdown-item text-black" href="/wishlist">My Wishlist</a></li>
                            <li><a class="dropdown-item text-black" href="/cart">My Cart</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item text-danger" href="/logout">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                <span class="d-flex">
                    <input id="inp" class="form-control me-2 bg-light text-black" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-light" onclick="search()">Search</button>
                </span>
            </div>
        </div>
    </nav>

    {{>tempNav}}
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>My Shopping Cart</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <span>Shopping Cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shopping Cart Section Begin -->
    <section class="shopping-cart spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="shopping__cart__table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th style="padding-left: 30px;">Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="acart">
                                {{!-- <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-1.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>T-shirt Contrast Pocket</h6>
                                            <h5>₹98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ 30.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-2.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Diagonal Textured Cap</h6>
                                            <h5>₹98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ 32.50</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-3.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Basic Flowing Scarf</h6>
                                            <h5>₹98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ 47.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr>
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="img/shopping-cart/cart-4.jpg" alt="">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>Basic Flowing Scarf</h6>
                                            <h5>₹98.49</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                                <input type="text" value="1">
                                            </div>
                                        </div>
                                    </td>
                                    <td class="cart__price">₹ 30.00</td>
                                    <td class="cart__close"><i class="fa fa-close"></i></td>
                                </tr> --}}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn">
                                <a href="/">Continue Shopping</a>
                            </div>
                        </div>
                        {{!-- <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="continue__btn update__btn">
                                <a href="#"><i class="fa fa-spinner"></i> Update cart</a>
                            </div>
                        </div> --}}
                    </div>
                </div>
                <div class="col-lg-4">
                    {{!-- <div class="cart__discount">
                        <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                    </div> --}}
                    <div class="cart__total">
                        <h6>Cart total</h6>
                        <ul>
                            {{!-- <li>Subtotal <span>₹ 169.50</span></li> --}}
                            <li>Total <span>₹ <span id="total">0</span></span></li>
                        </ul>
                        <a href="/pay" class="primary-btn">Proceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Shopping Cart Section End -->

    <!-- Footer Section Begin -->
    {{>footer}}
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.nicescroll.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/mixitup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/search.js"></script>
    <script>
        const body = document.getElementById('acart')
        const total = document.getElementById('total')
        const setItem = async (val) => {
            let tmp = await fetch(`https://martdb.onrender.com/products?id=${val}`)
            tmp = await tmp.json()
            total.innerHTML = `${Number(total.innerText) + tmp.price}`
            body.innerHTML += `<tr id="del${tmp._id}">
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic" style="cursor: pointer;" onclick="go('${tmp.category}','${tmp._id}')">
                                            <img src="${tmp.thumbnail}" style="width:6rem;" alt="">
                                        </div>
                                        <div class="product__cart__item__text" style="cursor: pointer;" onclick="go('${tmp.category}','${tmp._id}')">
                                            <h6>${tmp.title}</h6>
                                            <h5>₹<span id="price${tmp._id}">${tmp.price}</span></h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepDown();inc('${tmp._id}')">
                  <i class="fa fa-minus"></i>
                </button>

                <input id="form${tmp._id}" min="0" name="quantity" value="1" type="number"
                  class="form-control form-control-sm" style="width: 4rem;" />

                <button class="btn btn-link px-2"
                  onclick="this.parentNode.querySelector('input[type=number]').stepUp();inc('${tmp._id}')">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
                                    </td>
                                    <td class="cart__price">₹<span id="${tmp._id}">${tmp.price}</span></td>
                                    <td class="cart__close"><i class="fa fa-close" style="cursor: pointer;" onclick="del('del${tmp._id}','${tmp._id}')"></i></td>
                                </tr>`
        }
        const addItems = async () => {
            let tmp = await fetch('/cart?id={{id}}')
            tmp = await tmp.json()
            console.log(tmp)
            const li = tmp.cart
            for (let i = 0; i < li.length; i++) setItem(li[i])
        }
        addItems()
        const inc = (val) => {
            const tmp = document.getElementById('form' + val).value;
            const Oprice = document.getElementById('price' + val);
            const price = document.getElementById(val);
            const a = Number(Oprice.innerText)
            const b = Number(tmp)
            if (!b) del(`del${val}`, val);
            else {
                total.innerHTML = `${Number(total.innerText) - Number(price.innerText) + (a * b)}`
                price.innerText = `${a * b}`
            }
        }
        const del = async (val, item) => {
            const bye = document.getElementById(val);
            const price = document.getElementById(item)
            const options = {
                method: 'DELETE',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({
                    id: item
                })
            };

            try {
                let tmp = await fetch('/cart', options)
                tmp = await tmp.json()
                total.innerHTML = `${Number(total.innerText) - Number(price.innerText)}`
                console.log(tmp);
                bye.remove();
            } catch (error) {
                console.log("bug");
            }
        }
        const go = (c, n) => {
            open(`/product?cat=${c}&id=${n}`, '_self');
        }
    </script>
</body>

</html>