<section class="contact spad" id="con" style="background-color: beige;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <div class="contact__text">
                    <div class="section-title">
                        <span>Information</span>
                        <h2>Contact Us</h2>
                        <p>Have questions or need assistance? Contact our friendly support team at Indimart. We're
                            here to help you with any queries related to your shopping experience. Get in touch with
                            us for quick and reliable assistance.</p>
                    </div>
                    <ul>
                        <li>
                            <h4>Phone</h4>
                            <p>+91 XXX-XXX-0958</p>
                        </li>
                        <li>
                            <h4>Email</h4>
                            <p>sundeep5521@gmail.com</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="contact__form">
                    <form action="/contact" method="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <input type="text" name="name" placeholder="Name">
                            </div>
                            <div class="col-lg-6">
                                <input type="text" name="email" placeholder="Email">
                            </div>
                            <div class="col-lg-12">
                                <textarea placeholder="Message" name="text"></textarea>
                                <button type="submit" class="site-btn">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                        <a href="/" class="fs-1 fw-bold"><span class="text-light">indi</span><span
                                class="text-danger">Mart</span></a>
                    </div>
                    <p>The customer is at the heart of our unique business model, which includes design.</p>
                    <a href="/shop"><img src="/img/payment.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Shopping</h6>
                    <ul>
                        <li><a href="/shop?cat=mens-shirts">Clothing Store</a></li>
                        <li><a href="/shop?cat=mens-shoes">Trending Shoes</a></li>
                        <li><a href="/shop?cat=computer-accessories">Accessories</a></li>
                        <li><a href="/shop">Shop</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Services</h6>
                    <ul>
                        <li><a href="#con">Contact Us</a></li>
                        <li><a href="/refund">Refund Policy</a></li>
                        <li><a href="/privacy">Privacy Policy</a></li>
                        <li><a href="/terms">Terms</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>NewLetter</h6>
                    <div class="footer__newslatter">
                        <p>Be the first to know about new arrivals, look books, sales & promos!</p>
                        <form action="#">
                            <input type="text" placeholder="Your email">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>